<!DOCTYPE html>
<html>
<head>

	<title>Classic chat room</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<link type="text/css" rel="stylesheet" href="/css/login.css" />
	<link type="text/css" rel="stylesheet" href="/css/chat.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">

</head>

<body>

	<section class="section scenario" data-view="">

        <div class="block form disconnect">
            <h2 class="disconnect-title">DISCONNECTED</h2>
        </div>

		<div class="block form login">
            <div class='form-col'>
                <h2>ENTER CHAT</h2>
                <img src="../img/unnamed.jpg" class="user-icon" />
                <form data-action="login">
                    <input type="text" name="username" placeholder="username" value="" /><br/>
                    <input type="password" name="password" placeholder="password" value="" /><br/>
                    <p class="press-enter">...and then press enter</p>
                </form>
            </div>
            <div class='form-col'>
                <h2>REGISTRATION</h2>
                <img src="../img/unnamed.jpg" class="user-icon" />
                <form data-action="registration">
                    <input type="text" name="username" placeholder="username" value="" /><br/>
                    <input type="password" name="password" placeholder="password" value="" /><br/>
                    <p class="press-enter">...and then press enter</p>
                </form>
            </div>
		</div>

		<div class="block chat">

            <div class="chat-display items-list empty" id="chat">
                <div class="chat-messages">
                    <div class="hint empty-message">no messages yet</div>
                    <div class="history" id="history">▲ load history ▲</div>
                    <div class="messages items" id="messages"></div>
                </div>
                <div class="chat-input">
                    <textarea id="messagebox" placeholder="Write something and press ctrl+enter"></textarea>
                </div>
            </div>

            <div class='users items-list empty' id="userbox">
                <div class="client-panel">
                    <div>
                        logged in as <label class="client-name"></label>
                    </div>
                    <button type="button" class="btn-leave">leave</button>
                </div>
                <div class="hint empty-message">nobody in chat</div>
                <div class="items">
                    <h2>USERS ONLINE</h2>
                    <div></div>
                </div>
            </div>

		</div>

	</section>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/js/chat.js"></script>
	<script src="/js/chat/User.js"></script>
	<script src="/js/chat/Message.js"></script>
	<script src="/js/chat/UserView.js"></script>
	<script src="/js/chat/MessageView.js"></script>
	<script src="/js/date-utils.min.js"></script>

</body>

</html>